@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --fw-bold: 700;
  /* main_theme */
  /* background */
  --main-backgorund: hsl(222, 26%, 31%);
  --display-background: hsl(224, 36%, 15%);
  --keypad-background: hsl(223, 31%, 20%);
  --toggle-background: hsl(223, 31%, 20%);
  --toggle-pointer: hsl(6, 63%, 50%);
  /* keys-background */
  --main-key-background: hsl(30, 25%, 89%);
  --util-key-background: hsl(225, 21%, 49%);
  --equal-btn-background: hsl(6, 63%, 50%);
  /* keys-shadow */
  --main-key-shadow: hsl(28, 16%, 65%);
  --util-key-shadow: hsl(224, 28%, 35%);
  --equal-btn-shadow: hsl(6, 70%, 34%);
  /* text-color */
  --main-text-color: white;
  --main-key-text-color: hsl(221, 14%, 31%);
  --util-key-text-color: white;
  --equal-key-text-color: white;
}
.theme_2 {
  /* background */
  --main-backgorund: hsl(0, 0%, 90%);
  --display-background: hsl(0, 0%, 93%);
  --keypad-background: hsl(0, 5%, 81%);
  --toggle-background: hsl(0, 5%, 81%);
  --toggle-pointer: hsl(25, 98%, 40%);
  /* keys-background */
  --main-key-background: hsl(45, 7%, 89%);
  --util-key-background: hsl(185, 42%, 37%);
  --equal-btn-background: hsl(25, 98%, 40%);
  /* keys-shadow */
  --main-key-shadow: hsl(35, 11%, 61%);
  --util-key-shadow: hsl(185, 58%, 25%);
  --equal-key-shadow: hsl(25, 99%, 27%);
  /* text-color */
  --main-text-color: hsl(60, 10%, 19%);
  --main-key-text-color: hsl(60, 10%, 19%);
  --util-key-text-color: white;
  --equal-key-text-color: white;
}
.theme_3 {
  /* background */
  --main-backgorund: hsl(268, 75%, 9%);
  --display-background: hsl(268, 71%, 12%);
  --keypad-background: hsl(268, 71%, 12%);
  --toggle-background: hsl(268, 71%, 12%);
  --toggle-pointer: hsl(176, 100%, 44%);
  /* keys-background */
  --main-key-background: hsl(268, 47%, 21%);
  --util-key-background: hsl(281, 89%, 26%);
  --equal-btn-background: hsl(176, 100%, 44%);
  /* keys-shadow */
  --main-key-shadow: hsl(290, 70%, 36%);
  --util-key-shadow: hsl(285, 91%, 52%);
  --equal-key-shadow: hsl(177, 92%, 70%);
  /* text-color */
  --main-text-color: hsl(52, 100%, 62%);
  --main-key-text-color: hsl(52, 100%, 62%);
  --util-key-text-color: white;
  --equal-key-text-color: hsl(198, 20%, 13%);
}
body {
  font-size: 1rem;
  font-family: "League Spartan", sans-serif;
  height: 100vh;
}
.wrapper {
  background-color: var(--main-backgorund);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* ------------------------------------- */
* {
}
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 3px;
  background-color: beige;
  position: absolute;
  bottom: 0;
  right: 0;
}
.attribution a {
  font-weight: var(--fw-bold);
  color: salmon;
}
/* ----------main-content styling---------- */
.container {
  width: 100%;
  height: 100%;
  border: 1px solid;
  padding: 24px;
}
header * {
  /* border: 1px solid; */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-text-color);
}
header .title {
  font-size: 2.5rem;
  display: inline;
  vertical-align: bottom;
  height: min-content;
}
header .theme {
}
header .theme__text {
  font-weight: 500;
  font-size: 1.1rem;
  display: inline-block;
  vertical-align: bottom;
  line-height: 1.5rem;
  margin-right: 10px;
}
header .theme__toggle {
  font-weight: 700;

  display: flex;
  justify-content: space-around;
  margin-bottom: 0.3rem;
}
header .theme__toggle [type="radio"] {
  display: none;
}
header .theme > * {
  display: inline-block;
}
header .theme__pointer-back {
  background-color: var(--toggle-background);
  height: fit-content;
  width: 4.4rem;
  border-radius: 1rem;
  padding: 0.4rem 0.4rem;
}
header .theme__pointer {
  background-color: var(--toggle-pointer);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transition: transform ease 0.3s;
}
/* transform: translateX(2.65rem); */
/* transform: translateX(1.25rem); */
